@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/IBMPlexSans-Regular.woff2) format('woff2')
}

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../fonts/IBMPlexSans-SemiBold.woff2) format('woff2')
}

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/IBMPlexSans-Bold.woff2) format('woff2')
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

strong {
    font-weight: bolder
}

input, select {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.5;
    margin: 0
}

input {
    overflow: visible
}

select {
    text-transform: none
}

[type=button], [type=reset], [type=submit] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

[hidden], template {
    display: none
}

html {
    box-sizing: border-box
}

*, ::after, ::before {
    box-sizing: inherit
}

.footer-widgets::before, .site-container::before, .site-footer::before, .site-header::before {
    content: " ";
    display: table
}

.footer-widgets::after, .site-container::after, .site-footer::after, .site-header::after {
    clear: both;
    content: " ";
    display: table
}

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}

body {
    background-color: #fff;
    color: #333;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    margin: 0
}

input:focus, input[type=button], input[type=reset], input[type=submit] {
    transition: all .2s ease-in-out
}

strong {
    font-weight: 700
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 0 0 20px
}

h1 {
    font-size: 30px
}

h2 {
    font-size: 27px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

embed {
    max-width: 100%
}

input, select {
    background-color: #fff;
    color: #333;
    font-size: 18px;
    font-weight: 400;
    padding: 15px;
    width: 100%
}

input:focus {
    outline: 0
}

input[type=checkbox], input[type=image], input[type=radio] {
    width: auto
}

::-ms-input-placeholder {
    color: #333;
    opacity: 1
}

:-ms-input-placeholder {
    color: #333;
    opacity: 1
}

::placeholder {
    color: #999;
    opacity: 1
}

input[type=button], input[type=reset], input[type=submit] {
    background-color: #333;
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    white-space: normal;
    width: auto
}

input[type=button]:focus, input[type=button]:hover, input[type=reset]:focus, input[type=reset]:hover, input[type=submit]:focus, input[type=submit]:hover {
    background-color: #0073e5;
    border-width: 0;
    color: #fff
}

.site-container input:disabled, .site-container input:disabled:hover, .site-container input[type=button]:disabled, .site-container input[type=button]:disabled:hover, .site-container input[type=reset]:disabled, .site-container input[type=reset]:disabled:hover, .site-container input[type=submit]:disabled, .site-container input[type=submit]:disabled:hover {
    background-color: #eee;
    border-width: 0;
    color: #777;
    cursor: not-allowed
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-results-button {
    display: none
}

.site-container {
    word-wrap: break-word
}

.singular-image {
    display: block;
    margin: 0 auto 30px;
    text-align: center
}

:focus {
    color: #333;
    outline: 0
}

.site-header {
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .05);
    padding: 0 30px
}

.site-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 0
}

.site-description {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important
}

.menu .menu-item:focus {
    position: static
}

.genesis-responsive-menu {
    display: none;
    position: relative
}

.footer-widgets {
    border-top: 1px solid #eee;
    background-color: #fff;
    clear: both;
    padding: 60px 0
}

.site-footer {
    background-color: #fff;
    border-top: 1px solid #eee;
    font-size: 15px;
    line-height: 1.5;
    padding: 30px;
    text-align: center
}

@media only screen and (min-width: 960px) {
    .site-header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 9999
    }

    .genesis-responsive-menu {
        display: block;
        padding-top: 15px
    }

    .content {
        float: left;
        width: 65%
    }

    .full-width-content .content {
        float: none;
        margin-left: auto;
        margin-right: auto
    }

    .first {
        clear: both;
        margin-left: 0
    }
}

@media print {
    *, ::after, ::before {
        background: 0 0 !important;
        box-shadow: none !important;
        color: #333 !important;
        text-shadow: none !important
    }

    @page {
        margin: 2cm .5cm
    }

    h2, h3 {
        orphans: 3;
        widows: 3
    }

    .content {
        width: 100%
    }

    input, select {
        display: none !important
    }

    h1, h2, h3, h4, h5, h6 {
        orphans: 3;
        page-break-after: avoid;
        page-break-inside: avoid;
        widows: 3
    }
}

div.wp-block-image {
    margin-bottom: 25px
}

:where(.wp-block-button__link) {
    border-radius: 9999px;
    box-shadow: none;
    padding: calc(.667em + 2px) calc(1.333em + 2px);
    text-decoration: none
}

:where(.wp-block-columns) {
    margin-bottom: 1.75em
}

:where(.wp-block-columns.has-background) {
    padding: 1.25em 2.375em
}

.wp-block-column {
    flex-grow: 1;
    min-width: 0;
    overflow-wrap: break-word;
    word-break: break-word
}

:where(.wp-block-post-commentsinput[type=submit]) {
    border: none
}

@supports (position:sticky) {
    .wp-block-cover-image:after, .wp-block-cover:after {
        content: none
    }
}

@supports (-webkit-touch-callout:inherit) {
    .wp-block-cover-image.has-parallax, .wp-block-cover.has-parallax, .wp-block-cover__image-background.has-parallax, video.wp-block-cover__video-background.has-parallax {
        background-attachment: scroll
    }
}

:where(.wp-block-cover-image:not(.has-text-color)), :where(.wp-block-cover:not(.has-text-color)) {
    color: #fff
}

:where(.wp-block-cover-image.is-light:not(.has-text-color)), :where(.wp-block-cover.is-light:not(.has-text-color)) {
    color: #000
}

.wp-block[data-align=left] > [data-type="core/embed"], .wp-block[data-align=right] > [data-type="core/embed"] {
    max-width: 360px;
    width: 100%
}

.wp-block-embed {
    overflow-wrap: break-word
}

:where(.wp-block-file) {
    margin-bottom: 1.5em
}

:where(.wp-block-file__button) {
    border-radius: 2em;
    display: inline-block;
    padding: .5em 1em
}

:where(.wp-block-file__button):is(a):active, :where(.wp-block-file__button):is(a):focus, :where(.wp-block-file__button):is(a):hover, :where(.wp-block-file__button):is(a):visited {
    box-shadow: none;
    color: #fff;
    opacity: .85;
    text-decoration: none
}

@supports ((-webkit-mask-image:none) or (mask-image:none)) or (-webkit-mask-image:none) {
    .wp-block-image.is-style-circle-mask img {
        border-radius: 0;
        -webkit-mask-image: url(data:image/svg+xml;utf8,SVG_REPLACED);
        mask-image: url(data:image/svg+xml;utf8,SVG_REPLACED);
        mask-mode: alpha;
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        mask-size: contain
    }
}

.wp-block-image :where(.has-border-color) {
    border-style: solid
}

.wp-block-image :where([style*=border-top-color]) {
    border-top-style: solid
}

.wp-block-image :where([style*=border-right-color]) {
    border-right-style: solid
}

.wp-block-image :where([style*=border-bottom-color]) {
    border-bottom-style: solid
}

.wp-block-image :where([style*=border-left-color]) {
    border-left-style: solid
}

.wp-block-image :where([style*=border-width]) {
    border-style: solid
}

.wp-block-image :where([style*=border-top-width]) {
    border-top-style: solid
}

.wp-block-image :where([style*=border-right-width]) {
    border-right-style: solid
}

.wp-block-image :where([style*=border-bottom-width]) {
    border-bottom-style: solid
}

.wp-block-image :where([style*=border-left-width]) {
    border-left-style: solid
}

@keyframes turn-on-visibility {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes turn-off-visibility {
    0% {
        opacity: 1;
        visibility: visible
    }
    99% {
        opacity: 0;
        visibility: visible
    }
    to {
        opacity: 0;
        visibility: hidden
    }
}

@keyframes lightbox-zoom-in {
    0% {
        transform: translate(calc((-100vw + var(--wp--lightbox-scrollbar-width)) / 2 + var(--wp--lightbox-initial-left-position)), calc(-50vh + var(--wp--lightbox-initial-top-position))) scale(var(--wp--lightbox-scale))
    }
    to {
        transform: translate(-50%, -50%) scale(1)
    }
}

@keyframes lightbox-zoom-out {
    0% {
        transform: translate(-50%, -50%) scale(1);
        visibility: visible
    }
    99% {
        visibility: visible
    }
    to {
        transform: translate(calc((-100vw + var(--wp--lightbox-scrollbar-width)) / 2 + var(--wp--lightbox-initial-left-position)), calc(-50vh + var(--wp--lightbox-initial-top-position))) scale(var(--wp--lightbox-scale));
        visibility: hidden
    }
}

@keyframes overlay-menu__fade-in-animation {
    0% {
        opacity: 0;
        transform: translateY(.5em)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}

:where(.wp-block-post-excerpt) {
    margin-bottom: var(--wp--style--block-gap);
    margin-top: var(--wp--style--block-gap)
}

:where(.wp-block-preformatted.has-background) {
    padding: 1.25em 2.375em
}

:where(.wp-block-pullquote) {
    margin: 0 0 1em
}

:where(.wp-block-search__button) {
    border: 1px solid #ccc;
    padding: 6px 10px
}

:where(.wp-block-term-description) {
    margin-bottom: var(--wp--style--block-gap);
    margin-top: var(--wp--style--block-gap)
}

:where(pre.wp-block-verse) {
    font-family: inherit
}

@supports (position:sticky) {
    .wp-block-video [poster] {
        object-fit: cover
    }
}

:root {
    --wp--preset--font-size--normal: 16px;
    --wp--preset--font-size--huge: 42px
}

html :where(.has-border-color) {
    border-style: solid
}

html :where([style*=border-top-color]) {
    border-top-style: solid
}

html :where([style*=border-right-color]) {
    border-right-style: solid
}

html :where([style*=border-bottom-color]) {
    border-bottom-style: solid
}

html :where([style*=border-left-color]) {
    border-left-style: solid
}

html :where([style*=border-width]) {
    border-style: solid
}

html :where([style*=border-top-width]) {
    border-top-style: solid
}

html :where([style*=border-right-width]) {
    border-right-style: solid
}

html :where([style*=border-bottom-width]) {
    border-bottom-style: solid
}

html :where([style*=border-left-width]) {
    border-left-style: solid
}

html :where(img[class*=wp-image-]) {
    height: auto;
    max-width: 100%
}

:where(figure) {
    margin: 0 0 1em
}

html :where(.is-position-sticky) {
    --wp-admin--admin-bar--position-offset: var(--wp-admin--admin-bar--height, 0px)
}

@media screen and (max-width: 600px) {
    html :where(.is-position-sticky) {
        --wp-admin--admin-bar--position-offset: 0px
    }
}

/*! bulma.io v0.9.3 | MIT License | github.com/jgthms/bulma */
.tabs {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.select:not(.is-multiple):not(.is-loading)::after {
    border: 3px solid transparent;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: .625em;
    margin-top: -.4375em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    width: .625em
}

.block:not(:last-child), .content:not(:last-child), .tabs:not(:last-child), .title:not(:last-child) {
    margin-bottom: 1.5rem
}

.is-overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
body, h1, h2, h3, h4, h5, h6, html {
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400
}

input, select {
    margin: 0
}

html {
    box-sizing: border-box
}

*, ::after, ::before {
    box-sizing: inherit
}

html {
    background-color: #fff;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%
}

footer, header {
    display: block
}

body, input, select {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}

body {
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5
}

input[type=checkbox], input[type=radio] {
    vertical-align: baseline
}

span {
    font-style: inherit;
    font-weight: inherit
}

strong {
    color: #363636;
    font-weight: 700
}

@keyframes spinAround {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(359deg)
    }
}

.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 960px
    }
}

@media screen and (min-width: 1216px) {
    .container:not(.is-max-desktop) {
        max-width: 1152px
    }
}

@media screen and (min-width: 1408px) {
    .container:not(.is-max-desktop):not(.is-max-widescreen) {
        max-width: 1344px
    }
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    color: #363636;
    font-weight: 600;
    line-height: 1.125
}

.content h1 {
    font-size: 2em;
    margin-bottom: .5em
}

.content h1:not(:first-child) {
    margin-top: 1em
}

.content h2 {
    font-size: 1.75em;
    margin-bottom: .5714em
}

.content h2:not(:first-child) {
    margin-top: 1.1428em
}

.content h3 {
    font-size: 1.5em;
    margin-bottom: .6666em
}

.content h3:not(:first-child) {
    margin-top: 1.3333em
}

.content h4 {
    font-size: 1.25em;
    margin-bottom: .8em
}

.content h5 {
    font-size: 1.125em;
    margin-bottom: .8888em
}

.content h6 {
    font-size: 1em;
    margin-bottom: 1em
}

.input, .select select {
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636
}

.input::-moz-placeholder, .select select::-moz-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input::-webkit-input-placeholder, .select select::-webkit-input-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input:-moz-placeholder, .select select:-moz-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input:-ms-input-placeholder, .select select:-ms-input-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input:hover, .select select:hover {
    border-color: #b5b5b5
}

.input:active, .input:focus, .is-active.input, .select select.is-active, .select select:active, .select select:focus {
    border-color: #485fc7;
    box-shadow: 0 0 0 .125em rgba(72, 95, 199, .25)
}

.select select[disabled], [disabled].input {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    box-shadow: none;
    color: #7a7a7a
}

.select select[disabled]::-moz-placeholder, [disabled].input::-moz-placeholder {
    color: rgba(122, 122, 122, .3)
}

.select select[disabled]::-webkit-input-placeholder, [disabled].input::-webkit-input-placeholder {
    color: rgba(122, 122, 122, .3)
}

.select select[disabled]:-moz-placeholder, [disabled].input:-moz-placeholder {
    color: rgba(122, 122, 122, .3)
}

.select select[disabled]:-ms-input-placeholder, [disabled].input:-ms-input-placeholder {
    color: rgba(122, 122, 122, .3)
}

.image {
    display: block;
    position: relative
}

@keyframes moveIndeterminate {
    from {
        background-position: 200% 0
    }
    to {
        background-position: -200% 0
    }
}

.title {
    word-break: break-word
}

.title span {
    font-weight: inherit
}

.title {
    color: #363636;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125
}

.title strong {
    color: inherit;
    font-weight: inherit
}

.title.is-1 {
    font-size: 3rem
}

.title.is-2 {
    font-size: 2.5rem
}

.title.is-3 {
    font-size: 2rem
}

.title.is-4 {
    font-size: 1.5rem
}

.title.is-5 {
    font-size: 1.25rem
}

.title.is-6 {
    font-size: 1rem
}

.title.is-7 {
    font-size: .75rem
}

.heading {
    display: block;
    font-size: 11px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-transform: uppercase
}

.number {
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 9999px;
    display: inline-flex;
    font-size: 1.25rem;
    height: 2em;
    justify-content: center;
    margin-right: 1.5rem;
    min-width: 2.5em;
    padding: .25rem .5rem;
    text-align: center;
    vertical-align: top
}

.input, .select select {
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636
}

.input::-moz-placeholder, .select select::-moz-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input::-webkit-input-placeholder, .select select::-webkit-input-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input:-moz-placeholder, .select select:-moz-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input:-ms-input-placeholder, .select select:-ms-input-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input:hover, .select select:hover {
    border-color: #b5b5b5
}

.input:active, .input:focus, .is-active.input, .select select.is-active, .select select:active, .select select:focus {
    border-color: #485fc7;
    box-shadow: 0 0 0 .125em rgba(72, 95, 199, .25)
}

.select select[disabled], [disabled].input {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    box-shadow: none;
    color: #7a7a7a
}

.select select[disabled]::-moz-placeholder, [disabled].input::-moz-placeholder {
    color: rgba(122, 122, 122, .3)
}

.select select[disabled]::-webkit-input-placeholder, [disabled].input::-webkit-input-placeholder {
    color: rgba(122, 122, 122, .3)
}

.select select[disabled]:-moz-placeholder, [disabled].input:-moz-placeholder {
    color: rgba(122, 122, 122, .3)
}

.select select[disabled]:-ms-input-placeholder, [disabled].input:-ms-input-placeholder {
    color: rgba(122, 122, 122, .3)
}

.input, .select select {
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636
}

.input::-moz-placeholder, .select select::-moz-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input::-webkit-input-placeholder, .select select::-webkit-input-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input:-moz-placeholder, .select select:-moz-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input:-ms-input-placeholder, .select select:-ms-input-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input:hover, .select select:hover {
    border-color: #b5b5b5
}

.input:active, .input:focus, .is-active.input, .select select.is-active, .select select:active, .select select:focus {
    border-color: #485fc7;
    box-shadow: 0 0 0 .125em rgba(72, 95, 199, .25)
}

.select select[disabled], [disabled].input {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    box-shadow: none;
    color: #7a7a7a
}

.select select[disabled]::-moz-placeholder, [disabled].input::-moz-placeholder {
    color: rgba(122, 122, 122, .3)
}

.select select[disabled]::-webkit-input-placeholder, [disabled].input::-webkit-input-placeholder {
    color: rgba(122, 122, 122, .3)
}

.select select[disabled]:-moz-placeholder, [disabled].input:-moz-placeholder {
    color: rgba(122, 122, 122, .3)
}

.select select[disabled]:-ms-input-placeholder, [disabled].input:-ms-input-placeholder {
    color: rgba(122, 122, 122, .3)
}

.tabs {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.select:not(.is-multiple):not(.is-loading)::after {
    border: 3px solid transparent;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: .625em;
    margin-top: -.4375em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    width: .625em
}

.block:not(:last-child), .content:not(:last-child), .tabs:not(:last-child), .title:not(:last-child) {
    margin-bottom: 1.5rem
}

.is-overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.input {
    box-shadow: inset 0 .0625em .125em rgba(0, 0, 0, .05);
    max-width: 100%;
    width: 100%
}

[readonly].input {
    box-shadow: none
}

.is-link.input {
    border-color: #485fc7
}

.is-link.input:active, .is-link.input:focus, .is-link.is-active.input {
    box-shadow: 0 0 0 .125em rgba(72, 95, 199, .25)
}

.input, .select select {
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636
}

.input::-moz-placeholder, .select select::-moz-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input::-webkit-input-placeholder, .select select::-webkit-input-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input:-moz-placeholder, .select select:-moz-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input:-ms-input-placeholder, .select select:-ms-input-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input:hover, .select select:hover {
    border-color: #b5b5b5
}

.input:active, .input:focus, .is-active.input, .select select.is-active, .select select:active, .select select:focus {
    border-color: #485fc7;
    box-shadow: 0 0 0 .125em rgba(72, 95, 199, .25)
}

.select select[disabled], [disabled].input {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    box-shadow: none;
    color: #7a7a7a
}

.select select[disabled]::-moz-placeholder, [disabled].input::-moz-placeholder {
    color: rgba(122, 122, 122, .3)
}

.select select[disabled]::-webkit-input-placeholder, [disabled].input::-webkit-input-placeholder {
    color: rgba(122, 122, 122, .3)
}

.select select[disabled]:-moz-placeholder, [disabled].input:-moz-placeholder {
    color: rgba(122, 122, 122, .3)
}

.select select[disabled]:-ms-input-placeholder, [disabled].input:-ms-input-placeholder {
    color: rgba(122, 122, 122, .3)
}

.radio {
    cursor: pointer;
    display: inline-block;
    line-height: 1.25;
    position: relative
}

.radio input {
    cursor: pointer
}

.radio:hover {
    color: #363636
}

.radio input[disabled], [disabled].radio {
    color: #7a7a7a;
    cursor: not-allowed
}

.radio + .radio {
    margin-left: .5em
}

.input, .select select {
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636
}

.input::-moz-placeholder, .select select::-moz-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input::-webkit-input-placeholder, .select select::-webkit-input-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input:-moz-placeholder, .select select:-moz-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input:-ms-input-placeholder, .select select:-ms-input-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input:hover, .select select:hover {
    border-color: #b5b5b5
}

.input:active, .input:focus, .is-active.input, .select select.is-active, .select select:active, .select select:focus {
    border-color: #485fc7;
    box-shadow: 0 0 0 .125em rgba(72, 95, 199, .25)
}

.select select[disabled], [disabled].input {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    box-shadow: none;
    color: #7a7a7a
}

.select select[disabled]::-moz-placeholder, [disabled].input::-moz-placeholder {
    color: rgba(122, 122, 122, .3)
}

.select select[disabled]::-webkit-input-placeholder, [disabled].input::-webkit-input-placeholder {
    color: rgba(122, 122, 122, .3)
}

.select select[disabled]:-moz-placeholder, [disabled].input:-moz-placeholder {
    color: rgba(122, 122, 122, .3)
}

.select select[disabled]:-ms-input-placeholder, [disabled].input:-ms-input-placeholder {
    color: rgba(122, 122, 122, .3)
}

.tabs {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.select:not(.is-multiple):not(.is-loading)::after {
    border: 3px solid transparent;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: .625em;
    margin-top: -.4375em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    width: .625em
}

.block:not(:last-child), .content:not(:last-child), .tabs:not(:last-child), .title:not(:last-child) {
    margin-bottom: 1.5rem
}

.is-overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.select {
    display: inline-block;
    max-width: 100%;
    position: relative;
    vertical-align: top
}

.select:not(.is-multiple) {
    height: 2.5em
}

.select:not(.is-multiple):not(.is-loading)::after {
    border-color: #485fc7;
    right: 1.125em;
    z-index: 4
}

.select select {
    cursor: pointer;
    display: block;
    font-size: 1em;
    max-width: 100%;
    outline: 0
}

.select select::-ms-expand {
    display: none
}

.select select[disabled]:hover {
    border-color: #f5f5f5
}

.select select:not([multiple]) {
    padding-right: 2.5em
}

.select select[multiple] {
    height: auto;
    padding: 0
}

.select select[multiple] option {
    padding: .5em 1em
}

.select:not(.is-multiple):not(.is-loading):hover::after {
    border-color: #363636
}

.select.is-link:not(:hover)::after {
    border-color: #485fc7
}

.select.is-link select {
    border-color: #485fc7
}

.select.is-link select:hover {
    border-color: #3a51bb
}

.select.is-link select.is-active, .select.is-link select:active, .select.is-link select:focus {
    box-shadow: 0 0 0 .125em rgba(72, 95, 199, .25)
}

.input, .select select {
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636
}

.input::-moz-placeholder, .select select::-moz-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input::-webkit-input-placeholder, .select select::-webkit-input-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input:-moz-placeholder, .select select:-moz-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input:-ms-input-placeholder, .select select:-ms-input-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input:hover, .select select:hover {
    border-color: #b5b5b5
}

.input:active, .input:focus, .is-active.input, .select select.is-active, .select select:active, .select select:focus {
    border-color: #485fc7;
    box-shadow: 0 0 0 .125em rgba(72, 95, 199, .25)
}

.select select[disabled], [disabled].input {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    box-shadow: none;
    color: #7a7a7a
}

.select select[disabled]::-moz-placeholder, [disabled].input::-moz-placeholder {
    color: rgba(122, 122, 122, .3)
}

.select select[disabled]::-webkit-input-placeholder, [disabled].input::-webkit-input-placeholder {
    color: rgba(122, 122, 122, .3)
}

.select select[disabled]:-moz-placeholder, [disabled].input:-moz-placeholder {
    color: rgba(122, 122, 122, .3)
}

.select select[disabled]:-ms-input-placeholder, [disabled].input:-ms-input-placeholder {
    color: rgba(122, 122, 122, .3)
}

.tabs {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.select:not(.is-multiple):not(.is-loading)::after {
    border: 3px solid transparent;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: .625em;
    margin-top: -.4375em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    width: .625em
}

.block:not(:last-child), .content:not(:last-child), .tabs:not(:last-child), .title:not(:last-child) {
    margin-bottom: 1.5rem
}

.is-overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.input, .select select {
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636
}

.input::-moz-placeholder, .select select::-moz-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input::-webkit-input-placeholder, .select select::-webkit-input-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input:-moz-placeholder, .select select:-moz-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input:-ms-input-placeholder, .select select:-ms-input-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input:hover, .select select:hover {
    border-color: #b5b5b5
}

.input:active, .input:focus, .is-active.input, .select select.is-active, .select select:active, .select select:focus {
    border-color: #485fc7;
    box-shadow: 0 0 0 .125em rgba(72, 95, 199, .25)
}

.select select[disabled], [disabled].input {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    box-shadow: none;
    color: #7a7a7a
}

.select select[disabled]::-moz-placeholder, [disabled].input::-moz-placeholder {
    color: rgba(122, 122, 122, .3)
}

.select select[disabled]::-webkit-input-placeholder, [disabled].input::-webkit-input-placeholder {
    color: rgba(122, 122, 122, .3)
}

.select select[disabled]:-moz-placeholder, [disabled].input:-moz-placeholder {
    color: rgba(122, 122, 122, .3)
}

.select select[disabled]:-ms-input-placeholder, [disabled].input:-ms-input-placeholder {
    color: rgba(122, 122, 122, .3)
}

.tabs {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.select:not(.is-multiple):not(.is-loading)::after {
    border: 3px solid transparent;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: .625em;
    margin-top: -.4375em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    width: .625em
}

.block:not(:last-child), .content:not(:last-child), .tabs:not(:last-child), .title:not(:last-child) {
    margin-bottom: 1.5rem
}

.is-overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.label {
    color: #363636;
    display: block;
    font-size: 1rem;
    font-weight: 700
}

.label:not(:last-child) {
    margin-bottom: .5em
}

.field:not(:last-child) {
    margin-bottom: .75rem
}

.field-label .label {
    font-size: inherit
}

@media screen and (max-width: 768px) {
    .field-label {
        margin-bottom: .5rem
    }
}

@media screen and (min-width: 769px), print {
    .field-label {
        flex-basis: 0%;
        flex-grow: 1;
        flex-shrink: 0;
        margin-right: 1.5rem;
        text-align: right
    }
}

.field-body .field .field {
    margin-bottom: 0
}

@media screen and (min-width: 769px), print {
    .field-body {
        display: flex;
        flex-basis: 0%;
        flex-grow: 5;
        flex-shrink: 1
    }

    .field-body .field {
        margin-bottom: 0
    }

    .field-body > .field {
        flex-shrink: 1
    }

    .field-body > .field:not(.is-narrow) {
        flex-grow: 1
    }

    .field-body > .field:not(:last-child) {
        margin-right: .75rem
    }
}

.menu {
    font-size: 1rem
}

.menu-label {
    color: #7a7a7a;
    font-size: .75em;
    letter-spacing: .1em;
    text-transform: uppercase
}

.menu-label:not(:first-child) {
    margin-top: 1em
}

.menu-label:not(:last-child) {
    margin-bottom: 1em
}

.tabs {
    -webkit-overflow-scrolling: touch;
    align-items: stretch;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap
}

.column {
    display: block;
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 15px
}

@media screen and (min-width: 769px), print {
    .column.is-full {
        flex: none;
        width: 100%
    }

    .column.is-0 {
        flex: none;
        width: 0%
    }

    .column.is-1 {
        flex: none;
        width: 8.33333337%
    }

    .column.is-2 {
        flex: none;
        width: 16.66666674%
    }

    .column.is-3 {
        flex: none;
        width: 25%
    }

    .column.is-4 {
        flex: none;
        width: 33.33333337%
    }

    .column.is-5 {
        flex: none;
        width: 41.66666674%
    }

    .column.is-6 {
        flex: none;
        width: 50%
    }

    .column.is-7 {
        flex: none;
        width: 58.33333337%
    }

    .column.is-8 {
        flex: none;
        width: 66.66666674%
    }

    .column.is-9 {
        flex: none;
        width: 75%
    }

    .column.is-10 {
        flex: none;
        width: 83.33333337%
    }

    .column.is-11 {
        flex: none;
        width: 91.66666674%
    }

    .column.is-12 {
        flex: none;
        width: 100%
    }
}

.is-block {
    display: block !important
}

.is-hidden {
    display: none !important
}

.hero {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.hero.is-link {
    background-color: #485fc7;
    color: #fff
}

.hero.is-link strong {
    color: inherit
}

.hero.is-link .title {
    color: #fff
}

.hero-head {
    flex-grow: 0;
    flex-shrink: 0
}

.hero-body {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 3rem 1.5rem
}

@media screen and (min-width: 769px), print {
    .hero-body {
        padding: 3rem 3rem
    }
}

.footer {
    background-color: #fafafa;
    padding: 3rem 1.5rem 6rem
}

html {
    scroll-behavior: smooth
}

body {
    min-width: 360px;
    color: #000
}

@media (min-width: 1216px) {
    .container {
        max-width: 800px !important
    }

    .footer .container {
        max-width: 1110px !important
    }
}

body {
    font-family: 'IBM Plex Sans'
}

body input, body select {
    font-family: 'IBM Plex Sans'
}

* {
    -webkit-hyphens: manual;
    -moz-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual
}

h1, h2, h3, h4, h5 {
    line-height: normal
}

h1 {
    font-size: 40px;
    line-height: 56px;
    font-weight: 700
}

@media (max-width: 768px) {
    h1 {
        font-size: 32px;
        line-height: 1.2
    }
}

h2 {
    font-size: 35px;
    font-weight: 700
}

@media (max-width: 768px) {
    h2 {
        font-size: 28px
    }
}

h3 {
    font-size: 30px;
    font-weight: 700
}

@media (max-width: 768px) {
    h3 {
        font-size: 22px
    }
}

h4 {
    font-size: 25px;
    font-weight: 700
}

@media (max-width: 768px) {
    h4 {
        font-size: 22px
    }
}

h5 {
    font-size: 20px;
    font-weight: 600
}

@media (max-width: 768px) {
    h5 {
        font-size: 18px
    }
}

h6 {
    font-size: 18px;
    font-weight: 600
}

@media (max-width: 768px) {
    h6 {
        font-size: 14px
    }
}

h1 strong, h2 strong, h3 strong {
    font-weight: 700 !important;
    font-style: normal !important
}

h4 strong, h5 strong, h6 strong {
    font-weight: 600 !important;
    font-style: normal !important
}

strong {
    font-weight: 600;
    color: inherit
}

.is-style-default h3 {
    margin-top: 0 !important;
    padding-top: 0 !important;
    color: #000
}

.is-style-default {
    display: inline-block;
    width: 100%;
    margin-bottom: 25px
}

@media (max-width: 768px) {
    .is-style-default {
        margin-bottom: 15px
    }
}

@-webkit-keyframes bg-fade {
    from {
        background: #2098ce
    }
    to {
        background: #fff
    }
}

@-moz-keyframes bg-fade {
    from {
        background: #2098ce
    }
    to {
        background: #fff
    }
}

@keyframes bg-fade {
    from {
        background: #2098ce
    }
    to {
        background: #fff
    }
}

input[type=button], input[type=reset], input[type=submit] {
    display: inline-flex;
    align-items: center;
    white-space: normal;
    height: auto;
    min-height: 35px;
    justify-content: center;
    padding: 0 24px !important;
    transition: .2s;
    border: solid 2px #fff;
    background-color: #fff;
    color: #2098ce;
    margin-left: 15px;
    margin-right: 15px;
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto
}

@media (max-width: 375px) {
    input[type=button], input[type=reset], input[type=submit] {
        margin-right: 0
    }
}

input[type=button]:active, input[type=button]:focus, input[type=button]:hover, input[type=reset]:active, input[type=reset]:focus, input[type=reset]:hover, input[type=submit]:active, input[type=submit]:focus, input[type=submit]:hover {
    border: solid 1.5px #fff !important;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .12) !important;
    background-color: #fff !important;
    color: #2098ce !important
}

input[type=button][disabled], input[type=reset][disabled], input[type=submit][disabled] {
    background-color: #e6e8e9 !important;
    font-weight: 600 !important;
    letter-spacing: normal !important;
    color: #c5c5c5 !important
}

input[type=button][disabled]:active, input[type=button][disabled]:focus, input[type=button][disabled]:hover, input[type=reset][disabled]:active, input[type=reset][disabled]:focus, input[type=reset][disabled]:hover, input[type=submit][disabled]:active, input[type=submit][disabled]:focus, input[type=submit][disabled]:hover {
    border: 1.5px transparent !important;
    background-color: #e6e8e9 !important;
    font-weight: 600 !important;
    letter-spacing: normal !important;
    color: #c5c5c5 !important
}

input[type=radio] {
    position: relative;
    display: inline-flex;
    width: 26px;
    height: 26px;
    margin-right: 5px;
    border-radius: 12.5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .08);
    border: solid 1px #dedede;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: 0
}

input[type=radio]:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 13px;
    height: 13px;
    content: '';
    background-color: #fff;
    border-radius: 50%;
    transition: .2s
}

input[type=radio]:checked:before {
    background-color: #2098ce
}

@keyframes range-slider-pulse {
    0% {
        transform: scale(.95);
        box-shadow: 0 0 0 0 rgba(25, 128, 175, .7)
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 20px rgba(25, 128, 175, 0)
    }
}

.header {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 101;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #fff;
    color: #fff;
    transition: top .3s ease-in-out;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1)
}

.header__inner {
    height: 80px;
    display: grid;
    grid-template-columns:repeat(6, 1fr)
}

@media (max-width: 1215px) {
    .header__inner {
        align-items: flex-start;
        padding-top: 22px
    }
}

@media (max-width: 768px) {
    .header__inner {
        padding-top: 10px;
        height: 56px;
        align-items: center
    }
}

.header__inner-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    grid-column-start: 6;
    grid-column-end: 7
}

@keyframes example {
    from {
        display: flex;
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.footer {
    padding-top: 100px;
    padding-bottom: 60px;
    background-color: #0c4c69;
    color: #fff
}

@media (max-width: 768px) {
    .footer {
        padding: 60px 2rem
    }
}

.footer .menu-item {
    margin-bottom: 10px
}

.header-option.column:not(.column--default,.column--,.column--image,.column--icon,.column--data-point,.column--loan-slider-full,.column--quick-links,.column--featured_company) {
    margin-bottom: -150px;
    margin-top: -30px
}

@media (max-width: 768px) {
    .header-option.column:not(.column--default,.column--,.column--image,.column--icon,.column--data-point,.column--loan-slider-full,.column--quick-links,.column--featured_company) {
        margin-top: 0
    }
}

.column--, .column--default, .column--image {
    display: none
}

.page-content {
    padding-top: 20px
}

.page-hero__text {
    margin: 10px 0
}

@media (max-width: 768px) {
    .page-hero__text {
        margin-top: 10px;
        margin-bottom: 60px
    }
}

.page-hero__text-inner {
    margin-bottom: 36px
}

@media (max-width: 768px) {
    .page-hero__text-inner {
        font-size: 14px
    }
}

.page-hero__text-inner div, .page-hero__text-inner span {
    color: #fff
}

.page-hero__text-inner h2, .page-hero__text-inner h3, .page-hero__text-inner h4, .page-hero__text-inner h5, .page-hero__text-inner h6 {
    color: #fff;
    margin-bottom: 20px !important
}

@media (max-width: 768px) {
    .page-hero__text-inner h2, .page-hero__text-inner h3, .page-hero__text-inner h4, .page-hero__text-inner h5, .page-hero__text-inner h6 {
        margin-bottom: 10px !important
    }
}

body:not(.include-page-toc) .page-content__content {
    padding: 0 15px;
    border: none
}

@media (max-width: 768px) {
    .page-content {
        padding: 0 15px
    }
}

.page-content__inner {
    display: flex;
    align-items: stretch
}

.page-content__menu {
    min-width: 350px;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 30px
}

@media (max-width: 768px) {
    .page-content__menu {
        display: none
    }
}

.page-content__content {
    flex-grow: 1
}

@media (max-width: 768px) {
    .page-content__content {
        border: 0;
        padding: 0;
        width: 100%
    }
}

.page-content__content h2 {
    margin-top: 40px;
    margin-bottom: 15px;
    padding-top: 40px;
    border-top: 2px solid #f4f4f4
}

.page-content__content h2:first-of-type {
    margin-top: 0;
    border-top: 0;
    padding-top: 0
}

@media (max-width: 768px) {
    .page-content__content h2 {
        margin-top: 30px;
        padding-top: 30px
    }
}

.page-content__content h3 {
    margin-bottom: 15px;
    padding-top: 15px
}

.page-content__content h3:first-child {
    margin-top: 0
}

@media (max-width: 768px) {
    .page-content__content h3 {
        padding-top: 0;
        margin-top: 50px
    }
}

.page-content__content h4 {
    margin-top: 25px;
    margin-bottom: 15px;
    padding-top: 15px;
    font-size: 20px
}

.page-content__content h4:first-child {
    margin-top: 0
}

@media (max-width: 768px) {
    .page-content__content h4 {
        padding-top: 0;
        margin-top: 40px
    }
}

.page-content__content h5 {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px
}

.page-content__content h5:first-child {
    margin-top: 0
}

@media (max-width: 768px) {
    .page-content__content h5 {
        padding-top: 0;
        margin-top: 30px
    }
}

.page-content__content .items-content {
    padding: 0 10px 0 0;
    background-color: transparent
}

.page-hero {
    padding: 15px 15px 70px;
    background: linear-gradient(90deg, #137dad 0, #2098ce 35%)
}

@media (max-width: 768px) {
    .page-hero {
        padding: 0 15px 38px;
        position: relative;
        z-index: 99
    }
}

.page-hero__content {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    color: #fff;
    padding-right: 15px;
    font-size: 16px;
    margin-bottom: 30px
}

@media (max-width: 768px) {
    .page-hero__content {
        padding-right: 0
    }
}

.is-6 .page-hero__content {
    padding-right: 30px
}

@media (max-width: 768px) {
    .is-6 .page-hero__content {
        padding-right: 0
    }
}

.page-hero__title {
    color: #fff;
    word-wrap: break-word;
    word-break: break-word;
    margin-bottom: 5px;
    font-size: 40px;
    font-weight: 700
}

@media (max-width: 768px) {
    .page-hero__title {
        margin: 0;
        font-size: 32px
    }
}

.page-hero .column.is-5, .page-hero .column.is-6 {
    position: relative;
    height: min-content;
    z-index: 1
}

.page-hero .column.is-5:after, .page-hero .column.is-5:before, .page-hero .column.is-6:after, .page-hero .column.is-6:before {
    content: '';
    display: block;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1
}

@media (max-width: 768px) {
    .page-hero .column.is-5:after, .page-hero .column.is-5:before, .page-hero .column.is-6:after, .page-hero .column.is-6:before {
        display: none
    }
}

@media (max-width: 768px) {
    .page-hero--image {
        padding: 0 15px
    }
}

@media (max-width: 768px) {
    .page-hero--image:before {
        display: none
    }
}

@media (max-width: 768px) {
    .page-hero--image:after {
        display: none
    }
}

.column {
    position: relative;
    height: min-content
}

.column__value {
    display: block;
    margin: auto;
    width: 209px;
    height: 55px;
    border-radius: 4px;
    border: solid 1px #cfcfcf;
    background-color: #f4f6f7;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: #000
}

.column__image {
    position: relative;
    z-index: 2;
    padding-bottom: 57%
}

@media (max-width: 768px) {
    .column__image {
        padding-bottom: 196px;
        width: 343px;
        height: 196px;
        margin: 0 auto
    }
}

.interest-fee-content {
    padding: 50px 15px
}

.items-content {
    padding: 60px 15px;
    background-color: #f4f6f7
}

@media (max-width: 768px) {
    .items-content {
        padding: 30px 15px 60px
    }
}

.items-content__title {
    margin-bottom: 30px;
    text-align: center
}

@media (max-width: 768px) {
    .items-content__title {
        margin-bottom: 15px
    }
}

@media (max-width: 768px) {
    .page-hero__content {
        margin-bottom: 0
    }

    .page-hero__text {
        margin-bottom: 10px
    }
}

.borrowingcost_calculator .page-hero__title, .interest_calculator .page-hero__title {
    margin-top: 20px
}

@keyframes rotation {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(359deg)
    }
}

.calc {
    padding: 0 0 50px 0;
    border-bottom: 1px solid #e5e5e5
}

.calc-breakdown {
    width: 100%;
    max-width: 730px;
    margin: 0 auto
}

.calc-breakdown__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    border-bottom: 1px solid #e0e0e0
}

.calc-breakdown__row--header .calc-breakdown__column {
    font-weight: 600;
    color: #999
}

.calc-breakdown__column {
    width: 25%;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    text-align: left;
    color: #000
}

.calc-breakdown__column:last-child {
    text-align: right
}

@media (max-width: 768px) {
    .calc-breakdown__column {
        font-size: 12px
    }
}

.calc-breakdown--interest-calculator {
    max-width: 440px
}

.calc-breakdown--interest-calculator .calc-breakdown__column {
    width: 50%;
    text-align: center
}

.calc-breakdown--interest-calculator .calc-breakdown__column:last-child {
    text-align: center
}

.calc-chart {
    padding: 0 15px
}

.calc-chart__footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 760px;
    margin: 0 auto
}

@media (max-width: 768px) {
    .calc-chart__footer {
        flex-wrap: wrap
    }
}

.calc-chart__footer-item {
    width: 115px
}

@media (max-width: 768px) {
    .calc-chart__footer-item {
        width: 33%
    }

    .calc-chart__footer-item:nth-child(4), .calc-chart__footer-item:nth-child(5) {
        width: 50%
    }
}

.calc-chart__footer-title {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #999
}

@media (max-width: 768px) {
    .calc-chart__footer-title {
        margin-bottom: 0;
        font-size: 12px
    }
}

.calc-chart__footer-value {
    display: block;
    font-size: 20px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    white-space: nowrap
}

@media (max-width: 768px) {
    .calc-chart__footer-value {
        font-size: 18px
    }
}

.calc-chart__footer-currency {
    display: inline-block;
    margin-right: 2px
}

.calculator-hero {
    margin-bottom: 35px;
    padding: 0 15px
}

@media (max-width: 768px) {
    .calculator-hero {
        margin-bottom: 20px
    }
}

.calculator-hero__title {
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center
}

@media (max-width: 768px) {
    .calculator-hero__title {
        margin-bottom: 0;
        text-align: left
    }
}

.calculator-hero__description {
    text-align: center;
    color: #444;
    max-width: 800px;
    margin: auto;
    font-weight: 400
}

@media (max-width: 768px) {
    .calculator-hero__description {
        text-align: left
    }
}

.calc-options {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 440px;
    margin: 0 auto 25px;
    padding: 0 15px
}

@media (max-width: 768px) {
    .calc-options {
        max-width: 370px;
        margin-bottom: 0
    }
}

@media (max-width: 375px) {
    .calc-options {
        max-width: 350px;
        padding: 0 8px
    }
}

.calc-options__item {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 10px
}

.calc-options__item--loan-amount {
    width: 288px;
    margin-right: 15px
}

@media (max-width: 768px) {
    .calc-options__item--loan-amount {
        width: 248px;
        margin-right: 10px
    }
}

.calc-options__item--loan-interest-rate {
    width: 98px
}

@media (max-width: 768px) {
    .calc-options__item--loan-interest-rate {
        width: 78px
    }
}

@media (max-width: 375px) {
    .calc-options__item--loan-interest-rate {
        margin-right: 10px
    }
}

.calc-options__item--loan-interest-rate .calc-options__input {
    text-align: center
}

.calc-options__item--loan-period {
    margin-right: 20px
}

@media (max-width: 768px) {
    .calc-options__item--loan-period {
        margin-right: 10px
    }
}

.calc-options__item--loan-period .calc-options__field {
    display: flex
}

.calc-options__item--loan-period .calc-options__input {
    display: inline-block;
    width: 48px
}

.calc-options__item--loan-period .calc-options__select {
    display: inline-block;
    width: 113px;
    border: 0;
    border-left: 1px solid #dedede
}

@media (max-width: 768px) {
    .calc-options__item--loan-period .calc-options__select {
        width: 109px
    }
}

.calc-options__item--monthly-fee {
    width: 98px;
    margin-right: 20px
}

@media (max-width: 768px) {
    .calc-options__item--monthly-fee {
        width: 76px;
        margin-right: 10px
    }
}

.calc-options__item--starting-fee {
    width: 98px
}

@media (max-width: 768px) {
    .calc-options__item--starting-fee {
        width: 76px
    }
}

.calc-options__item--payback-type {
    width: 100%
}

.calc-options__item--payback-type .calc-options__field {
    display: flex
}

.calc-options__item--payment-frequency {
    width: 100%
}

.calc-options__item--payment-frequency .calc-options__field {
    display: flex
}

.calc-options__item--interest-total {
    width: 193px;
    margin-right: 15px
}

@media (max-width: 768px) {
    .calc-options__item--interest-total {
        width: 163px;
        margin-right: 10px
    }
}

.calc-options__item--interest-rate {
    width: 193px
}

@media (max-width: 768px) {
    .calc-options__item--interest-rate {
        width: 163px
    }
}

.calc-options__item--interest-rate .calc-options__input {
    text-align: left
}

.calc-options__label {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    color: #444
}

.calc-options__field {
    position: relative;
    display: block;
    width: 100%;
    border-radius: 5px;
    border: solid 1px #dedede;
    background-color: #fff;
    overflow: hidden
}

.calc-options__field--label-right {
    padding-right: 30px
}

.calc-options__field--label-right:before {
    content: attr(data-label);
    right: 0
}

.calc-options__field--label-right .calc-options__input {
    padding-right: 0
}

.calc-options__field:before {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    font-size: 14px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    color: #444
}

.calc-options__input {
    display: flex;
    width: 100%;
    height: 40px;
    padding: 0 15px;
    border: 0;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    color: #000;
    -moz-appearance: textfield
}

.calc-options__input::-webkit-inner-spin-button, .calc-options__input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.calc-options__select::-ms-expand {
    display: none
}

.calc-options__radio-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    border-right: 1px solid #dedede;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    text-align: center;
    color: #000;
    cursor: pointer
}

.calc-options__radio-label:last-child {
    border-right: 0
}

.calc-options__radio-label--active {
    background-color: #2098ce;
    color: #fff
}

.calc-options__radio-label input[type=radio] {
    display: none !important
}

.calc-options__footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 70px
}

.calc-options__footer-text {
    margin-right: 10px;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    color: #999
}

.calc-tabs__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e0e0e0
}

.calc-tabs__menu-item {
    display: inline-block;
    margin: 0 40px 0 0;
    padding: 10px 0 14px;
    font-size: 16px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #717171;
    cursor: pointer
}

.calc-tabs__menu-item:last-child {
    margin-right: 0
}

.calc-tabs__menu-item--active {
    position: relative;
    color: #000
}

.calc-tabs__menu-item--active:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    background-color: #2098ce;
    border-radius: 2.5px
}

.calc-tabs__content {
    padding: 20px 15px 0
}

@keyframes company-reviews__button--animated {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes moveup {
    0% {
        bottom: -25px;
        opacity: 0
    }
    100% {
        bottom: 0;
        opacity: 1
    }
}

@keyframes movedown {
    0% {
        top: -25px;
        opacity: 0
    }
    100% {
        top: 0;
        opacity: 1
    }
}

.select-items {
    width: 159px;
    border-radius: 1.5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
    background-color: #fff
}

.select-items div {
    padding-right: 10px;
    border-color: transparent transparent rgba(0, 0, 0, .1) transparent;
    cursor: pointer;
    user-select: none;
    line-height: 1;
    text-align: left;
    font-size: 13px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -.36px;
    color: #717171;
    text-transform: uppercase;
    transition: .2s
}

.select-items div:last-child {
    margin-bottom: 0
}

.select-items div:hover {
    color: #2098ce
}

.select-items {
    position: absolute;
    border-radius: 1.5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
    background-color: #fff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 20px 24px
}

.select-hide {
    display: none
}

.calc-options__item {
    margin-bottom: 15px
}

.calc-options__label span {
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    color: #999;
    letter-spacing: -.3px;
    display: inline-block;
    float: right
}

@keyframes splide-loading {
    0% {
        transform: rotate(0)
    }
    to {
        transform: rotate(1turn)
    }
}

:root {
    --ep-range-slider-background-color: #fff;
    --ep-range-slider-track-color: #eee
}

@media (min-width: 768px) {
    :root {
        --ep-range-slider-thumb-size: 1.25em;
        --ep-range-slider-track-size: 0.5em
    }
}

#borrowing_cost_calculator {
    max-width: 730px;
    width: 100%;
    height: 500px;
    margin: auto
}

.calc-options__select {
    position:relative;
    width:100%;
    padding:0 20px 0 10px;
    border:1px solid #dedede;
    background-color:#F4F6F7;
    font-size:14px;
    font-weight:400;
    font-stretch:normal;
    font-style:normal;
    line-height:1.14;
    color:#000;
    -webkit-appearance:none;
    -moz-appearance:none;
    background-repeat:no-repeat;
    background-position:90% 50%;
    background-image:url(../img/icons-fs-select-icon.svg);
    cursor:pointer
}
